<h2 class="mb-5">あなたが買うかもしれない今月の新刊！</h2>
<div class="mark mb-3">
こちらでは登録した漫画を元に今月発売の新刊を表示しています。
</div>
<% if @books.present? %>
    <%= render 'books/books_card_small', books: @books %>
<% else %>
    <p>あなたが買うかもしれない今月の新刊はありません。</p>
    <p>気になる漫画や、持っている漫画があれば登録してみましょう</p>
    <%= link_to '漫画を探す', books_path, class:'btn btn-primary' %>
<% end %>