<div class="card">
<div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag @user.image.url, height: '200' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ユーザー名:<%= user.name %></li>
          <li class="list-group-item">登録日:<%= user.created_at %></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>