<div class="mb-4"><h2><%= current_user.name %>さんのページです</h2></div>


<!--タブボタン部分-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#tab1" data-toggle="tab">登録した漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab2" data-toggle="tab">お気に入りの漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab3" data-toggle="tab">投稿済みのレビュー</a>
  </li>
</ul>

<!--タブコンテンツ部分-->
<div class="tab-content">
    <div id="tab1" class="tab-pane active">
        aaa
    </div>
    <div id="tab2" class="tab-pane">
        bbb
    </div>
    <div id="tab3" class="tab-pane">
        ccc
    </div>
</div>

<div>
  退会ボタン
</div>