<h2 class="pb-4"><i class="fa fa-plus"></i> 登録数ランキング</h2>
<div class="mark mb-5">
  <p class="pt-3">こちらのランキングは各ユーザーの所持漫画情報を元に作成したものです。</p>
</div>
<div class="row">
  <% if @book_ranking.present? %>
  <% @rank = 1 %>
  <% @book_ranking.each do |book| %>
    <%= render 'ranking_books_card', book: book, test: "a" %>
    <% @rank+=1 %>
  <% end %>
  <% end %>
</div>