<h2 class="pb-4"><i class="fa fa-thumbs-up"></i> 高評価ランキング</h2>
<div class="mark mb-5">
  <p class="pt-3">こちらのランキングはユーザーが投稿したレビューを元に平均評価を割り出し、それを順位づけしたものです。</p>
</div>
<div class="row">
<% if @review_ranking.present? %>
  <% @review_ranking.each do |book| %>
    <%= render 'review_ranking_books_card', book: book, test: "a" %>
    <% @rank+=1 %>
  <% end %>
<% end %>
</div>
<%= paginate @review_ranking %>