<div class="title mb-5">
  <h1 class="title_comicfarm_big text-center m-4">ComicFarm</h1>
  <div class="describe">
    <p class="text-center mb-4">ComicFarmへようこそ</p>
    <p class="text-center mb-4">このサイトでは好きな漫画や気になる漫画を登録し、共有することができます。</p>
    <p class="text-center mb-4">また、気軽に漫画の新刊情報を確認することも可能です。</p>
    <p class="text-center mb-4">本屋さんに行って、この漫画何巻まで読んだっけ？となることはありませんか？</p>
    <p class="text-center mb-4">読んだ漫画を登録することでそういったこともなくなります。</p>
    <p class="text-center mb-4">あなたの漫画ライフをより快適にしてみましょう！</p>
  </div>
  <p class="text-center"><%= link_to 'ComicFarmを始める！', user_session_path, class: "btn btn-light my-5 btn-dark btn-block" %></p>
</div>
